.miPleca{
  background-image: url("/assets/images/Pleca.png") !important;
  background-size: auto 100% !important;
  background-color: #0C231E !important;
  display: block !important;
}

.miNavHeader{
  /* background-color: #155897 !important; */
  background: #0c231e !important;
  height: 100% !important;
}

.miBtn{
  color: white !important;
}

.errorBlock, .errorBlock > ul{
  color: red !important;
  list-style: none !important;
  margin-left: -5px !important;
  
}

.aSearch a{
  display: inline-block !important;
  text-decoration: none !important;
  width: 100% !important;
  padding-left: 10px !important;
  padding-top: 10px !important;
  color: black;

}

.aSearch:hover{
  box-shadow: 0px 0px 3px gray; 
  background: #138496 !important; 
  cursor: pointer !important;
}

.aSearch:hover a{
  text-decoration: underline !important;
  color: white;
}

.btnBck{
  color: white !important;
}
.notaCont{
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2) !important;
}
.carousel-inner > .item > img {
  margin: 0 auto;
}
.carousel-inner {
  background-color: gray !important;
  }
  


/* estilos sugeridos */
@font-face {
  font-family: Montserrat;
  src: url("/assets/fuentes/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: Montserrat Bold;
  src: url("/assets/fuentes/Montserrat/Montserrat-Bold.ttf") format("truetype");
}
body{
  font-family: Montserrat!important;
}
#buscaKeyWord, .aSearch:hover, .page-item.active .page-link, .table-bordered thead th, .table-bordered thead td{
  background: #9D2449!important;
  border-color: #9D2449!important;
}
.page-item.active .page-link, .table-bordered thead th, .table-bordered thead td{
  color: white!important;
}
.pagination > li > a, .pagination > li > span{
  color: #404041!important;
}
.icon-td{
  text-align: center;
}
.icon-td a{
  color: #9D2449!important;
}
#tableNotas, #tableIncidencias{
  width: 100%!important;
}
#tableIncidencias thead tr th, #tableIncidencias tbody tr td, #tableIncidencias thead tr th, #tableIncidencias tbody tr td{
  display: table-cell!important;
}
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before{
  display: none!important;
}

.container{
  max-width: 1140px!important;
  width: 100%!important;
}

.card .card-body p, .card .card-body blockquote{
  text-align: justify!important;
}

@media (max-width: 1000px){

}
@media (max-width: 800px){
  #tableNotas thead tr th, #tableNotas tbody tr td, #tableIncidencias thead tr th, #tableIncidencias tbody tr td{
    font-size: 13px!important;
  }
}

@media (max-width: 525px){
  .dataTables_info{
    display: none!important;
  }
}
@media (max-width: 480px){
  .cell-hide, #tableNotas thead tr th.cell-hide, #tableNotas tbody tr td.cell-hide, .cell-hide, #tableIncidencias thead tr th.cell-hide, #tableIncidencias tbody tr td.cell-hide{
    display: none!important;
  }
  .paginate_button{
    font-size: 11px!important;
  }
}
@media (max-width: 390px){
  #tableNotas thead tr th, #tableNotas tbody tr td, #tableIncidencias thead tr th, #tableIncidencias tbody tr td{
    font-size: 10px!important;
  }
}