@font-face{
    font-family: MontserratCustom;
    src:url("/assets/fuentes/Montserrat/Montserrat-Regular.ttf");
}
body, h1, h2{
    font-family: MontserratCustom, sans-serif !important;
    background: url("/assets/images/Fondo.png") no-repeat top center fixed !important;
    background-size: 100% auto !important;
}
.mn-content.fixed-sidebar .mn-inner {
	padding-left: 50px !important;
	width: 100%;
}
.mifooter{
    margin-top: 20px;
}
.miNavHeader{
    /* background-color: #155897 !important; */
    background: #0c231e !important;
}

.header-title {
    margin-top: 7px !important;
}

.page-footer {
    background: #0c231e !important;
}

.miPleca{
    background-image: url("/assets/images/Pleca.png") !important;
    background-size: auto 100% !important;
    height: 28px !important;
    width: 100% !important;
    position: absolute !important;
    bottom: 0 !important;
    left: 0 !important;
}

/* .content{
    background-color: #0c231e;
    max-width: 1200px;
    width: auto;
    margin: 0 auto;
    margin-top: 20px;
} */

/* .stats-card-progress .determinate {
    background: #9d2449 !important;
    
} */

.miCardImg{
    width: 100px;
    height: 100px;    
}

.stats-card .percent-info {
    margin-top: -40px !important;
}

#content_mapa{
	/* float:right; */
	position: relative !important;
	left: 10px !important;
	top: 50px !important;
}
.content_list_states{
    margin-bottom: -25px !important;
}
.noticiaContainer{
    margin-top: -25px;
}
.notaCont{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2) !important;
}
.upper{
    text-transform: uppercase !important;
    font-weight: bold !important;
}
.miContainer{
    width: 310px !important;
    position: relative !important;
}
.container {
    position: relative;
    text-align: center;
    color: white;
    width: 25% !important;
    margin-left: 70px !important;
    display: inline-block !important;
  }
  /* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  /* .aTop{
    color: #9d2449;
  } */
  .aTop:hover{
      background-color:  #114946;

  }
  .miBlock{
      font-weight: normal !important;
      text-align: justify !important;
  }
  /* .indicator {
    background-color:#9f2241 !important;
  } */
  .backdrop{
      background-color: #ddc9a3 !important;
  }
  .material-tooltip {
    width: 200px;
}
.parsley-required{
    color: red !important;
}
.parsley-type{
    color: red !important;
}
.ql-editor strong{
    font-weight:bold !important;
}
#content_mapaIc{
	/* float:right; */
	position: relative !important;
	left: 10px !important;
	top: -10px !important;
}
.cont{    
    margin-left: 15px;
}
.imgCont{
    width: 200px;
    height: 200px;
}
.imgEvi{
    margin-left: 15px;
    border: 1px solid #555;
}
/* .dropdown-content{
    color: #9f2241 !important;
 } */
  /* @media only screen and (min-width: 601px) {
    .container {
     width:85% !important;
    }
   } */