/* .page-footer {
    margin-top: 25px;
    border-top: 1px solid #E0E0E0;
    clear: left;
    height: 50px !important;
    padding-left: 220px;
    position: relative;
    width: 100%;
    z-index: 0;
    -webkit-transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
} */
@font-face{
    font-family: MontserratCustom;
    src:url("/assets/fuentes/Montserrat/Montserrat-Regular.ttf");
}
body{
    font-family: MontserratCustom, sans-serif !important;
    background: url("/assets/images/Fondo.png") no-repeat top center fixed !important;
    background-size: 100% auto !important;
}

.mifooter{
    margin-top: 20px;
}
.miNavHeader{
    /* background-color: #155897 !important; */
    background: #0c231e !important;
}

.header-title {
    margin-top: 7px !important;
}

.page-footer {
    background: #0c231e !important;
}

.miPleca{
    background-image: url("/assets/images/Pleca.png") !important;
    background-size: auto 100% !important;
    height: 28px !important;
    width: 100% !important;
    position: absolute !important;
    bottom: 0 !important;
    left: 0 !important;
}

.content{
    background-color: #0c231e;
    max-width: 1200px;
    width: auto;
    margin: 0 auto;
    margin-top: 20px;
}

.stats-card-progress .determinate {
    background: #9d2449 !important;
    
}

.miCardImg{
    width: 100px;
    height: 100px;    
}

.stats-card .percent-info {
    margin-top: -40px !important;
}

#content_mapa{
	/* float:right; */
	position: relative !important;
	left: 25px !important;
	top: 50px !important;
}

.wizard-content {
	padding: 50px 0;
	background: white !important;
}

.parsley-required{
    color: red !important;
}
.parsley-type{
    color: red !important;
}
.ql-editor strong{
    font-weight:bold !important;
}
/*pasteImage*/
.target {
    border: solid 1px #aaa;
    min-height: 200px;
    width: 30%;
    margin-top: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: 300ms all;
    position: relative;
  }
  
  .contain {
      background-size: cover;
    position: relative;
    z-index: 10;
    top: 0px;
    left: 0px;
  }
  textarea {
    background-color: white;
  }
  .activeImg {
    box-shadow: 0px 0px 1px 1px #26a69a;
  }
  .miA{
      margin-right: 10%;
  }
  .miA:hover, .miTi, .paginate_button{
    cursor: pointer;
}
.miAside{
    cursor: pointer; 
}
td{
    font-weight: normal !important;
    color: #10312b !important;
}
.iconGreen{
    color:green !important;
}
.notaCont{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2) !important;
}
.cont{    
    margin-left: 15px;
}
.imgCont{
    width: 200px;
    height: 200px;
}
.imgEvi{
    margin-left: 15px;
    border: 1px solid #555;
}
.listaEdos{
    font-size: 12px !important;
}
.contSemf{
    display: inline-flex;
    background: #fff;
    height: 100px;
    width: 400px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 20px 15px;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
  }
  .option{
      background-color: #fff;
      border-radius: 10px;
  }
  .option-1{
      background-color: green;
  }
  .custom-swal-class {
    overflow-x: visible;
    overflow-y: visible;
    max-height: 550px !important;
    min-height: 550px !important;
}
  