html { margin: 0 }
.page-break {
    page-break-after: always;
}    
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("/var/www/html/sintesisInformativa/public/assets/images/Fondo.png");
    background-position: center top;
    background-repeat: no-repeat;
    z-index: -1;
}